h1{
 font-size: 250%;
 font-family: Arial, Helvetica, sans-serif;
 color:#369;
}

h2,h3{
 color: #444;
 font-family: Arial, Helvetica, sans-serif;
 font-weight: lighter;
}

body{
 margin:2em;
}

body,input[type="text"],button{
 color: #333;
 font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
} 
/* everywhere else */
*{
 font-family: Arial, Helvetica, sans-serif;
}









